<p>About Me</p>

<div>
  <p>
    I am an experienced Frontend Engineer with expertise in React and Angular
    technologies, focusing on ERP, POS, commerce, crypto, smart contracts, and
    blockchain projects. With over 5 years of professional experience, I have
    successfully delivered numerous projects in these domains. Currently, I am
    enrolled in the "Meta Front-End Developer Professional Certificate" and
    making significant progress towards completing my path. My dedication to
    learning and staying updated with the latest technologies sets me apart. I
    am passionate about creating seamless user experiences and solving complex
    challenges.
  </p>
  <p>Feel free to reach out to me via email at abbasghayth5@gmail.com.</p>
  <p>Or by phone at +971 52 517 8442.</p>
</div>
